/*2017 1026 xl zhouwei 互联网 start*/
/*banner start*/
.top-input{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: .3rem;
}
.top-input a{
    display: inline-block;
    width: 80%;
    height: .65rem;
    line-height: .65rem;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: .65rem;
    text-align: left;
}
.top-input a input{
    width: 66%;
    padding-left: 4%;
    font-size: .22rem;
    border: none;
}
.top-input a input::-webkit-input-placeholder{
    color: #999;
    font-family: "微软雅黑",microsoft yahei;
}
.top-input span{
    text-align: center;
    display: inline-block;
    width: 30%;
    height:100%;
    background-color: #f7ad3f;
    font-size: .26rem;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-right-radius: .65rem;
    border-bottom-right-radius: .65rem;
}
/*banner end*/
/*为什么不赚钱 start*/
.con-piece{
    margin-top: .2rem;
    background-color: white;
}
.big-til{
    text-align: center;
    line-height: 1;
    padding: .23rem 0;
    border-bottom: 1px solid #f0f0f0;
}
.big-til h3{
    color: #333;
    font-size: .3rem;
    font-weight: bold;
}
.img{
    position: relative;
}
.img img{
    width: 100%;
}
.img4 a{
    position: absolute;
    left: .25rem;
    top: 0;
    width: 2.38rem;
    height: 3.49rem;
}
/*为什么不赚钱 end*/

/*2017 1026 xl zhouwei 互联网 end*/